[user]
	name = scmeek
	email = sean@seanmeek.com
	signingkey = CDBD2F5C61320530
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	ff = only
	rebase = true
[alias]
	unstage = reset --
	last = log -1 HEAD
	st = status
	cb = checkout -b
	b = branch
	co = checkout
	db = branch -D
	a = add
	c = commit -m
	ca = commit -a -m
	clone = clone --recursive
	aa = add .
	cp = cherry-pick
	d = diff
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[advice]
	addEmptyPathspec = false
[pager]
	branch = false
