[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
	ignore = dirty
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:scmeek/kickstart.nvim.git
	ignore = dirty
