[user]
	name = scmeek
	email = sean@seanmeek.com
	signingkey = CDBD2F5C61320530
[commit]
	gpgsign = true
	verbose = true
[init]
	defaultBranch = main
[pull]
	ff = only
	rebase = true
[alias]
	unstage = reset --
	last = log -1 HEAD
	st = status
	cb = checkout -b
	b = branch
	co = checkout
	db = branch -D
	mb = branch -m
	rnb = branch -m
	a = add
	c = commit -m
	ca = commit -a -m
	clone = clone --recursive
	aa = add --all
	cp = cherry-pick
	d = diff

	# modified version of lg2 from https://stackoverflow.com/a/34467298
	l = log --graph --abbrev-commit --decorate --date=format:'%Y-%m-%d %I:%M %p' --format=format:'%C(bold blue)%h%C(reset) - %C(cyan)%ad%C(reset) %C(green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''%w(100,10,10)%C(white)%s%C(reset) %C(magenta)- %aN%C(reset)'
[fetch]
	prune = true
[diff]
	colorMoved = zebra
	algorithm = histogram
[advice]
	addEmptyPathspec = false
[pager]
	branch = false
[push]
	default = current
[core]
	editor = nvim
